<!DOCTYPE html>
<html lamg="en">
    <head>
        <meta charset="utf-8">
        <title>Document</title>
    </head>
    <body>
        Hello.
        <script src="./index.js"></script>
    </body>
</html>
