<!DOCTYPE html>
<html lamg="en">
    <head>
        <meta charset="utf-8">
        <title>Document</title>
    </head>
    <body>
        <p id="count"><%= count %></p>
        <button id="ping">ping</button>
        <script src="./index.js"></script>
    </body>
</html>
